ssh_key

# server stuff that doesn't need to be commited or merged to main
server/cache
server/config/spark/tmp
server/config/spark/tmp-client
server/configureddefaults
server/crash-reports
server/libraries
server/logs
server/sdlinkstorage
server/server.properties
# dynamic world save data
server/world/*
!server/world/datapacks
# ignore all backups starting with server-backup
server-backup*
