ssh_key

# static libraries
server/libraries
# dynamic world save data
server/world/*
!server/world/datapacks
!server/world/level.dat
!server/world/level.dat_old
# ignore all backups starting with server-backup
server-backup*
server/cache/c2me-dfc
